/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 @import "compass/css3";

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
    color: #333333;
}

hr {
    height: 2px;
    color: #333;
}

.bg {
    background: #333;
    height: 500px;
}

// Grid
$grid-columns: 12 !default;
$grid-gutter-width: 15px !default;

$breakpoint-and-max-widths : (
    sm: 576px 540px,
    md: 768px 720px,
    lg: 992px 960px,
    xl: 1200px 1140px
) !default;

.wrapper {
    @include box-sizing(border-box);
    margin: 0 auto;
    padding: {
        left: $grid-gutter-width;
        right: $grid-gutter-width;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
        width: 100%;

    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@mixin columns($syntax: ".col-") {
    @for $i from 1 through $grid-columns {
        #{$syntax + $i} {
            flex: 0 0 100% / $grid-columns * $i;
            max-width: 100% / $grid-columns * $i;
        }
    }
}

@include columns;
@each $grid, $widths in $breakpoint-and-max-widths {
    @media only screen and (min-width: nth($widths, 1)) {
        .wrapper {
            max-width: nth($widths, 2);
        }
        @include columns (".col-" + $grid + "-");
    }
}







// .container-fluid {
//     width: 100%;
// }

// .row {
//     display: flex;
//     flex-wrap: wrap;
// }

//  @for $i from 1 through 12 {
//      .col-#{$i} {
//          width: 100% /12 * $i;
//          height: 400px;
//          margin-right: 1%;
//          background-color: #333;
//          &:last-child {
//              margin-right: 0;
//          }
//      }
//  }